body {
    user-select: none;
}
.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: .7em;
}
.restore:hover,
.minimize:hover,
#close:hover {
    background: gray;
    color: #fff;
    transform: scale(2);
}
.memory:hover {
    cursor: default;
    background: #fff;
    color: #000;
    opacity: 0.6;
}
.memory:active {
    font-size: 90%;
    box-shadow: inset 0 0 4px 4px #000;
}
.buttons:hover,
.button:hover {
    cursor: cell;
    background: #fff;
    color: #000;
    opacity: 0.6;
}
.button:active {
    font-size: 99%;
    box-shadow: inset 0 0 4px 4px #000;
}
@media screen and (min-width: 769px) {.cont {
    background: linear-gradient(to right, rgba(19, 18, 18, 1) 10%, rgba(124, 124, 124, .8) 80%);
    color: white;
}
.text {
    font-size: .9em;
}
.screen {
    height: 15vh;
    font-size: 10vh;
}
.button {
    height: 13vh;
    font-size: 1.7em;
}
.digit {
    background: black;
}
}
@media screen and (max-width: 768px) {
    .cont {
        width: 320px;
    }
    .text {
        height: 35px;
    }
    .screen {
        height: 100px;
        font-size: 50px;
    }
    .dark {
        background: rgb(219, 219, 219);
    }
    .top {
        margin-top: -24px;
    }
    .buttons {
        height: 55px;
        background: rgb(240, 238, 238);
        font-size: 1em;
    }
    .buttons, .bg-white {
        border: 1px solid rgb(219, 219, 219) !important;
        font-size: 1.5em;
    }
    .smaller {
        font-size: 1em;
    }
    sup {
        font-size: .6em; 
    }
    
    
}
